*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	background-color: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 10px;


}

h1{
	font-size: 50px;
	margin:20px 0px;
}
.smaller{
	font-size: 42px;
}
.larger{
	font-size: 21px;
	color: gray;
	line-height: 1.5;
}
{
	font-size: 42px;
}

h3{
	color: Aquamarine;
	text-decoration: underline;
	margin: 10px 0px;
}
video{
	max-width: 100%;
	object-fit: cover;
}
img{
	max-width: 100%;
}
p{
	margin: 20px 0px;
}

footer{
	color: gray;
	text-align: right;
}

@media only screen and (max-width: 450px) {
	h1{
		font-size: 30px;
	}
	.smaller{
		font-size: 27px;
	}
	h3{
		font-size: 23px;
	}
	p{
		font-size: 18px;
	}
	video{
		height: 500px;
	}

}

